@inherits LayoutComponentBase
@namespace QuotelyAPP.Layout

<header class="navbar">
    <div class="logo">Quotely</div>

    <nav class="links">
        <a href="/">Home</a>
        <a href="/search">Search</a>
        <a href="/favorites">Favorites</a>
    </nav>
</header>

<div class="content">
    @Body
</div>